/* #02_4 */
.container{
  display: flex;
  border: 1px solid red;
}

.item{
  width: 100px;
  height: 100px;
}
/*order: 0; 初期値*/
.box1{
  background-color: blue;
  flex-grow: 0;

}
/* 余白？*/
.box2{
  background-color: violet;
  flex-grow: 1;
}

.box3{
  background-color: red;
  flex-grow: 0;
}

.box4{
  background-color: green;
  flex-grow: 0;
}
